<div class="container">
  <div class="row">
    <div class="col">
      <label for="nombre">Titulo persona</label>
      <input type="text" class="form-control" id="nombre" [(ngModel)]="tituloPersona" >
      {{ tituloPersona }}
      <h1>Listado de personas</h1>
      <button class="btn btn-primary" [disabled]="!agregarPersona" (click)="onCrearPersona()">Agregar persona</button>
      <p *ngIf="personaCreada; else sinPersona">{{ agregarPersonaStatus }}</p>
      <ng-template #sinPersona>
        <p>No se ha agreagado ninguna persona</p>
      </ng-template>
      <app-persona></app-persona>

    </div>
  </div>
</div>

